@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    background-color: green;
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
}

h1{
    /* font-size: px; */
}
